services:

  # -------------------- MySQL Database Service --------------------
  mysql:
    image: mysql                  # Official MySQL image (stable & widely used)
    container_name: mysql             # Fixed name → used as hostname by Flask

    environment:
      MYSQL_ROOT_PASSWORD: root       # Root password for MySQL
      MYSQL_DATABASE: devops          # Database created at start up

    volumes:
      - my-volume:/var/lib/mysql      # Named volume → persist database data

    networks:
      - my-network                    # Custom network for container communication

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uadmin", "-padmin"]
                                      # Checks if MySQL is ready to accept connections
      interval: 10s                   # Run healthcheck every 10 seconds
      timeout: 5s                     # Fail if no response within 5 seconds
      retries: 5                      # Mark unhealthy after 5 failures
      start_period: 40s               # Grace time for initial MySQL startup

  # -------------------- Flask Application Service --------------------
  flask-app:
    image:  fazilasayyed/2-tier-flaskapp
                                      # Prebuilt Flask application image
    container_name: flask-app

    ports:
      - "5000:5000"                   # Expose app on host port 5000

    environment:
      MYSQL_HOST: mysql               # MySQL hostname (service name)
      MYSQL_USER: root               # DB username
      MYSQL_PASSWORD: root           # DB password
      MYSQL_DB: devops                # Database name
      MYSQL_PORT: 3306                # MySQL default port

    depends_on:
     mysql:
        condition: service_healthy    # Start Flask only after MySQL is healthy

    networks:
      - my-network                    # Same network → internal DNS resolution

    restart: always                   # Auto-restart if app crashes

# -------------------- Custom Network --------------------
networks:
  my-network:
    driver: bridge                    # Bridge network for container isolation

# -------------------- Persistent Volume --------------------
volumes:
  my-volume:
    driver: local                     # Local Docker volume for MySQL data
